:root,
[data-bs-theme=light] {
  --bs-form-valid-color: #6c757d;
  --bs-form-valid-border-color: #6c757d;
}

.valid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  font-size: 0.875rem;
  color: #fff;
  background-color: var(--bs-secondary);
  border-radius: var(--bs-border-radius);
}

.was-validated .form-control:valid,
.form-control.is-valid {
  border-color: var(--bs-form-valid-border-color);
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%236c757d' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.was-validated .form-control:valid:focus,
.form-control.is-valid:focus {
  border-color: var(--bs-form-valid-border-color);
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-secondary-rgb), 0.25);
}

.was-validated .form-select:valid:focus,
.form-select.is-valid:focus {
  border-color: var(--bs-form-valid-border-color);
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-secondary-rgb), 0.25);
}

.was-validated .form-check-input:valid:focus,
.form-check-input.is-valid:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-secondary-rgb), 0.25);
}

@keyframes showCategory {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes Parpadear {
  to {
    color: #6c757d;
  }
}
@keyframes ParpadearBox {
  to {
    border: 2px solid white;
  }
}
@keyframes Letrero {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 100%;
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px inherit;
  }
}
body {
  background: rgba(0, 0, 0, 0.6705882353);
  max-width: 1000px;
  box-sizing: border-box;
  margin: 0 auto;
}

.header__container {
  border: 2px solid #6c757d;
  box-shadow: inset 0 0 5px white, 0 0 10px white;
  border-radius: 80px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 20px;
  text-align: center;
  animation: ParpadearBox 4s infinite backwards;
}
.header__container .header__title {
  font-family: monospace;
  font-weight: 500;
  color: white;
  margin: 0 auto;
  font-size: 100px;
  text-shadow: 0 0 5px white, 0 0 15px white, 0 0 30px white, 0 0 50px white;
  animation: Parpadear 4s infinite backwards;
}

#nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 1%;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
}
#nav #nav__list {
  width: 60%;
}

#nav__label {
  background: rgba(0, 0, 0, 0.6705882353);
  border-radius: 8%;
  width: 175px;
  overflow: hidden;
  border: 1px solid #6c757d;
  box-shadow: inset 0 0 5px white, 0 0 10px white;
  animation: ParpadearBox 4s infinite backwards;
}
#nav__label a {
  color: white;
  margin: 0 auto;
  text-shadow: 0 0 5px white, 0 0 15px white, 0 0 30px white, 0 0 50px white;
  animation: Letrero 4s infinite backwards;
}

.nav__cart {
  position: relative;
}
.nav__cart .cart__count {
  position: absolute;
  top: 40%;
  right: 25%;
  background-color: #6c757d;
  color: #fff;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
}
.nav__cart #cart__countproducts {
  font-size: 15px;
}
.nav__cart .cart__content {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.cart__product {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.cart__product .cartproduct__info {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}
.cart__product .cartproduct__quantity {
  font-weight: 400;
  font-size: 18px;
}
.cart__product .cartproduct__title {
  font-size: 15px;
  margin-left: 4%;
  text-align: start;
  width: 200px;
}
.cart__product .cartproduct__price {
  font-weight: 700;
  font-size: 18px;
  margin-left: 5%;
}
.cart__product .cartproduct__sub {
  font-weight: 700;
  font-size: 18px;
  margin-left: 10%;
}

.cartproduct__quantity--title {
  font-weight: 700;
  font-size: 18px;
  margin-left: -7%;
}

.cartproduct__title--title {
  font-weight: 700;
  font-size: 18px;
  margin-left: 5%;
}

.cartproduct__price--title {
  font-weight: 700;
  font-size: 18px;
  margin-left: 23%;
  margin-right: -5%;
}

.cartproduct__sub--title {
  font-weight: 700;
  font-size: 18px;
  margin-left: 15%;
  margin-right: -2%;
}

.cartproduct__icon {
  width: 25px;
  height: 25px;
}
.cartproduct__icon:hover {
  stroke: red;
  cursor: pointer;
}

.cart__content--hidden {
  display: none;
}

.cart__total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}
.cart__total h3 {
  font-size: 20px;
  font-weight: 700;
}

#main__listproducts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 1%;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
}
#main__listproducts .productos__card figure {
  overflow: hidden;
}
#main__listproducts .productos__card img {
  width: 90%;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
}
#main__listproducts .productos__card:hover {
  box-shadow: inset rgba(0, 0, 0, 0.507) 0px 5px 10px;
}
#main__listproducts .productos__card:hover h5 {
  animation: showCategory 800ms linear;
}

.card__filtro {
  display: none;
}

.pay__total {
  font-size: 20px;
  font-weight: 900;
}

.cart-empty {
  padding: 20px;
  text-align: center;
}

#pay__btn a {
  text-decoration: none;
  color: #6c757d;
}
#pay__btn:hover a {
  color: white;
}

#main__paymentform {
  padding: 30px;
}

#main__factura {
  background: white;
  color: #6c757d;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10%;
  margin-top: 5%;
}
#main__factura .cartproduct__firstrow {
  font-weight: 700;
  font-size: 22px;
  margin-left: 10px;
}
#main__factura .cart__list--Factura {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}
#main__factura .cart__list--Factura h3 {
  font-size: 20px;
  font-weight: 700;
}

#main__form {
  background: white;
  color: #6c757d;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 5%;
  margin-bottom: 5%;
  padding: 20px;
}

#main__pay {
  background: white;
  color: #6c757d;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 5%;
  margin-top: 5%;
  padding: 20px;
  padding-top: 10px;
}

.main__buttons {
  display: flex;
  justify-content: end;
}

.main__buttons--cliente {
  display: flex;
  justify-content: end;
  margin-top: 3%;
}

#btn-add-cart--form a {
  text-decoration: none;
  color: #6c757d;
}
#btn-add-cart--form:hover a {
  color: white;
}

.btn__ConfirmDatos {
  background: #6c757d;
  color: white;
}
.btn__ConfirmDatos:hover {
  background: #6c757d;
  color: white;
}

.wrapper {
  height: 50px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #6c757d;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #6c757d;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 1px 4px #6c757d;
  animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}/*# sourceMappingURL=main.css.map */