/* BASE SASS CSS */
:root,
[data-bs-theme=light] {
  --bs-form-valid-color: #6c757d;
  --bs-form-valid-border-color: #6c757d;
}

.valid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  font-size: 0.875rem;
  color: #fff;
  background-color: var(--bs-secondary);
  border-radius: var(--bs-border-radius);
}

.was-validated .form-control:valid,
.form-control.is-valid {
  border-color: var(--bs-form-valid-border-color);
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%236c757d' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.was-validated .form-control:valid:focus,
.form-control.is-valid:focus {
  border-color: var(--bs-form-valid-border-color);
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-secondary-rgb), 0.25);
}

.was-validated .form-select:valid,
.form-select.is-valid {
  border-color: var(--bs-form-valid-border-color);
}

.was-validated .form-select:valid:not([multiple]):not([size]),
.was-validated .form-select:valid:not([multiple])[size="1"],
.form-select.is-valid:not([multiple]):not([size]),
.form-select.is-valid:not([multiple])[size="1"] {
  --bs-form-select-bg-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%236c757d' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  padding-right: 4.125rem;
  background-position: right 0.75rem center, center right 2.25rem;
  background-size: 16px 12px, calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.was-validated .form-select:valid:focus,
.form-select.is-valid:focus {
  border-color: var(--bs-form-valid-border-color);
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-secondary-rgb), 0.25);
}

.was-validated .form-check-input:valid:focus,
.form-check-input.is-valid:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-secondary-rgb), 0.25);
}

@keyframes showCategory {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes Parpadear {
  to {
    color: #6c757d;
  }
}
@keyframes ParpadearBox {
  to {
    border: 2px solid #ffffff;
  }
}
@keyframes Letrero {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 100%;
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px inherit;
  }
}
body {
  background: rgba(0, 0, 0, 0.6705882353);
  max-width: 1000px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* COMPONENTES */
.header__container {
  background: inherit;
  color: inherit;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 80px;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 20px;
  border: 2px solid #6c757d;
  box-shadow: inset 0 0 5px #ffffff, 0 0 10px #ffffff;
  text-align: center;
  animation: ParpadearBox 4s infinite backwards;
}
.header__container .header__title {
  font-weight: 500;
  font-size: 100px;
  margin-left: 0%;
  margin-right: 0%;
  font-family: monospace;
  color: #ffffff;
  margin: 0 auto;
  text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff, 0 0 30px #ffffff, 0 0 50px #ffffff;
  animation: Parpadear 4s infinite backwards;
}

#nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 1%;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
}
#nav #nav__list {
  width: 60%;
}

#nav__label {
  background: rgba(0, 0, 0, 0.6705882353);
  border-radius: 8%;
  box-shadow: inset 0 0 5px #ffffff 0 0 10px #ffffff;
  width: 175px;
  height: 35px;
  margin-bottom: 1%;
  overflow: hidden;
  border: 1px solid #6c757d;
  animation: ParpadearBox 4s infinite backwards;
}
#nav__label a {
  color: #ffffff;
  margin: 0 auto;
  text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff, 0 0 30px #ffffff, 0 0 50px #ffffff;
  animation: Letrero 4s infinite backwards;
}

#nav__filtrar {
  margin-left: 5%;
}

.nav__cart {
  position: relative;
}
.nav__cart .cart__count {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6c757d;
  border-radius: 20%;
  box-shadow: none;
  position: absolute;
  top: 40%;
  right: 25%;
  color: #ffffff;
  width: 20px;
  height: 20px;
}
.nav__cart #cart__countproducts {
  font-size: 15px;
}
.nav__cart .cart__content {
  position: absolute;
  top: 50px;
  right: 0;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6705882353);
  width: 400px;
  z-index: 1;
}

.cart__product {
  display: flex;
  justify-content: center;
  align-items: space-around;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6705882353);
}
.cart__product .cartproduct__info {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}
.cart__product .cartproduct__quantity {
  font-weight: 400;
  font-size: 18px;
  margin-left: 0%;
  margin-right: 0%;
}
.cart__product .cartproduct__title {
  font-weight: 400;
  font-size: 15px;
  margin-left: 4%;
  margin-right: 0%;
  text-align: start;
  width: 200px;
}
.cart__product .cartproduct__price {
  font-weight: 700;
  font-size: 18px;
  margin-left: 5%;
  margin-right: 0%;
}
.cart__product .cartproduct__sub {
  font-weight: 700;
  font-size: 18px;
  margin-left: 10%;
  margin-right: 0%;
}

.cartproduct__quantity--title {
  font-weight: 700;
  font-size: 18px;
  margin-left: -7%;
  margin-right: 0%;
}

.cartproduct__title--title {
  font-weight: 700;
  font-size: 18px;
  margin-left: 5%;
  margin-right: 0%;
}

.cartproduct__price--title {
  font-weight: 700;
  font-size: 18px;
  margin-left: 23%;
  margin-right: -5%;
}

.cartproduct__sub--title {
  font-weight: 700;
  font-size: 18px;
  margin-left: 15%;
  margin-right: -2%;
}

.cartproduct__icon {
  width: 25px;
  height: 25px;
}
.cartproduct__icon:hover {
  stroke: red;
  cursor: pointer;
}

.cart__content--hidden {
  display: none;
}

.cart__total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}
.cart__total h3 {
  font-weight: 700;
  font-size: 20px;
  margin-left: 0%;
  margin-right: 0%;
}

#main__listproducts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 1%;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
}
#main__listproducts .productos__card figure {
  overflow: hidden;
}
#main__listproducts .productos__card img {
  width: 90%;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
}
#main__listproducts .productos__card:hover {
  box-shadow: inset rgba(0, 0, 0, 0.6705882353) 0px 5px 10px;
}
#main__listproducts .productos__card:hover h5 {
  animation: showCategory 800ms linear;
}

.card__filtro {
  display: none;
}

.pay__total {
  font-weight: 900;
  font-size: 20px;
  margin-left: 0%;
  margin-right: 0%;
}

.cart-empty {
  padding: 20px;
  text-align: center;
}

#pay__btn a {
  text-decoration: none;
  color: #6c757d;
}
#pay__btn:hover a {
  color: #ffffff;
}

footer {
  font-weight: 400;
  font-size: 18px;
  margin-left: 30%;
  margin-right: 0%;
  font-family: monospace;
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff, 0 0 30px #ffffff, 0 0 50px #ffffff;
}

/* PAGINA */
#main__paymentform {
  padding: 30px;
}

#main__factura {
  background: #ffffff;
  color: #6c757d;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10%;
  margin-top: 5%;
  margin-bottom: 0%;
  padding: 0%;
}
#main__factura .cartproduct__firstrow {
  font-weight: 700;
  font-size: 22px;
  margin-left: 10px;
  margin-right: 0%;
}
#main__factura .cart__list--Factura {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}
#main__factura .cart__list--Factura h3 {
  font-weight: 700;
  font-size: 20px;
  margin-left: 0%;
  margin-right: 0%;
}

#main__form {
  background: #ffffff;
  color: #6c757d;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10%;
  margin-top: 0%;
  margin-bottom: 5%;
  padding: 20px;
}

.cartproduct__quantity--title {
  font-weight: 700;
  font-size: 18px;
  margin-left: -7%;
  margin-right: 0%;
}

.cartproduct__title--title {
  font-weight: 700;
  font-size: 18px;
  margin-left: 5%;
  margin-right: 0%;
}

.cartproduct__price--title {
  font-weight: 700;
  font-size: 18px;
  margin-left: 18%;
  margin-right: -5%;
}

.cartproduct__sub--title {
  font-weight: 700;
  font-size: 18px;
  margin-left: 5%;
  margin-right: 0%;
}

.cartptoduct__img {
  margin-left: 5%;
}

#main__pay {
  background: #ffffff;
  color: #6c757d;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 5%;
  margin-top: 5%;
  margin-bottom: 0%;
  padding: 20px;
  padding-top: 10px;
}

.main__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  margin-left: 0%;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
}

.main__buttons--cliente {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  margin-left: 0%;
  margin-top: 3%;
  margin-left: 0%;
  margin-right: 0%;
}

#btn-add-cart--form a {
  text-decoration: none;
  color: #6c757d;
}
#btn-add-cart--form:hover a {
  color: #ffffff;
}

.btn__ConfirmDatos {
  background: #6c757d;
  color: #ffffff;
}
.btn__ConfirmDatos:hover {
  background: #6c757d;
  color: #ffffff;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 20%;
  background-color: inherit;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #6c757d;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #6c757d;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 1px 4px #6c757d;
  animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

/* RESPONSIVE */
/* RESPONSIVE SECTIONS-GRID*/
@media (max-width: 550px) {
  .btn-add-cart--form {
    display: none;
  }
  footer {
    font-weight: 400;
    font-size: 15px;
    margin-left: 10%;
    margin-right: 0%;
  }
  #nav__search {
    display: none;
  }
  #nav__filtrar {
    margin-left: 20%;
  }
  .header__container {
    background: inherit;
    color: inherit;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 50px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 20px;
    border: 2px solid #6c757d;
    box-shadow: inset 0 0 3px #ffffff, 0 0 6px #ffffff;
    text-align: center;
    animation: ParpadearBox 4s infinite backwards;
  }
  .header__container .header__title {
    font-weight: 400;
    font-size: 60px;
    margin-left: 0%;
    margin-right: 0%;
    font-family: monospace;
    color: #ffffff;
    margin: 0 auto;
    text-shadow: 0 0 2px #ffffff, 0 0 7px #ffffff, 0 0 15px #ffffff, 0 0 30px #ffffff;
    animation: Parpadear 4s infinite backwards;
  }
  .cartproduct__price--title {
    display: none;
  }
  .nav__cart {
    position: relative;
  }
  .nav__cart .cart__content {
    position: absolute;
    top: 50px;
    right: 0;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6705882353);
    width: 350px;
    z-index: 1;
  }
  .cart__product {
    display: flex;
    justify-content: center;
    align-items: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6705882353);
  }
  .cart__product .cartproduct__info {
    display: flex;
    justify-content: space-between;
    flex: 0.8;
  }
  .cart__product .cartproduct__quantity {
    font-weight: 500;
    font-size: 15px;
    margin-left: 0%;
    margin-right: 0%;
  }
  .cart__product .cartproduct__title {
    font-weight: 500;
    font-size: 13.5px;
    margin-left: 25%;
    margin-right: 0%;
    text-align: start;
  }
  .cart__product .cartproduct__price {
    display: none;
  }
  .cart__product .cartproduct__sub {
    font-weight: 700;
    font-size: 13px;
    margin-left: 10%;
    margin-right: 0%;
  }
  .cartproduct__quantity--title {
    font-weight: 700;
    font-size: 13px;
    margin-left: -7%;
    margin-right: 0%;
  }
  .cartproduct__title--title {
    font-weight: 700;
    font-size: 13px;
    margin-left: 5%;
    margin-right: 0%;
  }
  .cartproduct__sub--title {
    font-weight: 700;
    font-size: 13px;
    margin-left: 5%;
    margin-right: 0%;
  }
}
.cart__total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  gap: 20px;
}
.cart__total h3 {
  font-weight: 600;
  font-size: 15px;
  margin-left: 0%;
  margin-right: 0%;
}

@media (min-width: 550px) and (max-width: 650px) {
  .header__container {
    background: inherit;
    color: inherit;
    max-width: 390px;
    margin: 0 auto;
    border-radius: 70px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 20px;
    border: 2px solid #6c757d;
    box-shadow: inset 0 0 4px #ffffff, 0 0 8px #ffffff;
    text-align: center;
    animation: ParpadearBox 4s infinite backwards;
  }
  .header__container .header__title {
    font-weight: 400;
    font-size: 80px;
    margin-left: 0%;
    margin-right: 0%;
    font-family: monospace;
    color: #ffffff;
    margin: 0 auto;
    text-shadow: 0 0 4px #ffffff, 0 0 11px #ffffff, 0 0 20px #ffffff, 0 0 35px #ffffff;
    animation: Parpadear 4s infinite backwards;
  }
  .cartproduct__quantity--title {
    font-weight: 700;
    font-size: 15px;
    margin-left: -7%;
    margin-right: 0%;
  }
  .cartproduct__title--title {
    font-weight: 700;
    font-size: 15px;
    margin-left: 5%;
    margin-right: 0%;
  }
  .cartproduct__price--title {
    font-weight: 700;
    font-size: 15px;
    margin-left: 18%;
    margin-right: -5%;
  }
  .cartproduct__sub--title {
    font-weight: 700;
    font-size: 15px;
    margin-left: 5%;
    margin-right: 0%;
  }
  .cart__product .cartproduct__price {
    font-weight: 700;
    font-size: 15px;
    margin-left: 5%;
    margin-right: 0%;
  }
  .cart__product .cartproduct__sub {
    font-weight: 700;
    font-size: 15px;
    margin-left: 10%;
    margin-right: 0%;
  }
}
@media (max-width: 750px) {
  footer {
    font-weight: 400;
    font-size: 18px;
    margin-left: 10%;
    margin-right: 0%;
  }
  #nav__label {
    display: none;
  }
  .cartptoduct__img {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */