
@mixin dflex($justify, $value1, $value2, $value3, $value4) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: $justify;
    margin-left: $value1;
    margin-top: $value2;
    margin-left: $value3;
    margin-right: $value4;
}



body{
    background: #000000ab;
    max-width: 1000px;
    box-sizing: border-box;
    margin: 0 auto;
} 
h1{
    font-size: 70px;
    color: white;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#nav{
    @include dflex(space-between, 1%, 1%, 1%, 1%);
    
}

#productos{
    @include dflex(space-between, 1%, 1%, 1%, 1%);
    .productos__card{
        width: 200px;
        height: 200px;
        background: skyblue;
        margin-top: 1%;
        margin-bottom: 1%;
        text-align: center;
        h2{
            margin-top: 3%;
            font-size: 16px;
        }
        h3{
            font-size: 16px;
        }
    }
}