
@mixin dflex($justify, $value1, $value2, $value3, $value4) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: $justify;
    margin-left: $value1;
    margin-top: $value2;
    margin-left: $value3;
    margin-right: $value4;
}




@keyframes showCategory {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes Parpadear {
    to {
        color: #6c757d;
    }
}

@keyframes ParpadearBox {
    to {
        border: 2px solid white;
    }
}

@keyframes Letrero {
    from {
        margin-left: -100%;
    }

    to {
        margin-left: 100%;
    }
}

body {
    background: #000000ab;
    max-width: 1000px;
    box-sizing: border-box;
    margin: 0 auto;
}

.header__container {
    border: 2px solid #6c757d;
    box-shadow: inset 0 0 5px white, 0 0 10px white;
    border-radius: 80px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 20px;
    text-align: center;
    animation: ParpadearBox 4s infinite backwards;

    .header__title {
        font-family: monospace;
        font-weight: 500;
        color: white;
        margin: 0 auto;
        font-size: 100px;
        text-shadow: 0 0 5px white, 0 0 15px white, 0 0 30px white, 0 0 50px white;
        animation: Parpadear 4s infinite backwards;
    }
}

// ESTILOS NAVEGACION
#nav {
    @include dflex(space-between, 1%, 1%, 1%, 1%);

    #nav__list {
        width: 60%
    }

}

#nav__label {
    background: #000000ab;
    border-radius: 8%;
    width: 175px;
    overflow: hidden;
    border: 1px solid #6c757d;
    box-shadow: inset 0 0 5px white, 0 0 10px white;
    animation: ParpadearBox 4s infinite backwards;

    a {
        color: white;
        margin: 0 auto;
        text-shadow: 0 0 5px white, 0 0 15px white, 0 0 30px white, 0 0 50px white;
        animation: Letrero 4s infinite backwards;
    }
}

.nav__cart {
    position: relative;

    .cart__count {
        position: absolute;
        top: 40%;
        right: 25%;

        background-color: #6c757d;
        color: #fff;
        width: 20px;
        height: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20%;
    }

    #cart__countproducts {
        font-size: 15px;
    }


    .cart__content {
        position: absolute;
        top: 50px;
        right: 0;

        background-color: #fff;
        width: 400px;
        z-index: 1;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
        border-radius: 10px;
    }

}

.cart__product {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

    .cartproduct__info {
        display: flex;
        justify-content: space-between;
        flex: 0.8;
    }

    .cartproduct__quantity {
        font-weight: 400;
        font-size: 18px;
    }

    .cartproduct__title {
        font-size: 15px;
        margin-left: 4%;
        text-align: start;
        width: 200px;
    }

    .cartproduct__price {
        font-weight: 700;
        font-size: 18px;
        margin-left: 5%;
    }

    .cartproduct__sub {
        font-weight: 700;
        font-size: 18px;
        margin-left: 10%;
    }


}

.cartproduct__quantity--title {
    font-weight: 700;
    font-size: 18px;
    margin-left: -7%;
}

.cartproduct__title--title {
    font-weight: 700;
    font-size: 18px;
    margin-left: 5%;

}

.cartproduct__price--title {
    font-weight: 700;
    font-size: 18px;
    margin-left: 23%;
    margin-right: -5%;
}

.cartproduct__sub--title {
    font-weight: 700;
    font-size: 18px;
    margin-left: 15%;
    margin-right: -2%;
}

.cartproduct__icon {
    width: 25px;
    height: 25px;

    &:hover {
        stroke: red;
        cursor: pointer;
    }
}

.cart__content--hidden {
    display: none;
}

.cart__total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;

    h3 {
        font-size: 20px;
        font-weight: 700;
    }
}

//ESTILOS MAIN
#main__listproducts {
    @include dflex(space-between, 1%, 1%, 1%, 1%);

    .productos__card {
        figure {
            overflow: hidden;
        }

        img {
            width: 90%;
            margin-top: 1%;
            margin-left: 5%;
            margin-right: 5%;
        }

        &:hover {
            box-shadow: inset rgba(0, 0, 0, 0.507) 0px 5px 10px;
        }

        &:hover h5 {
            animation: showCategory 800ms linear;
        }
    }


}

.card__filtro {
    display: none;
}


.pay__total {
    font-size: 20px;
    font-weight: 900;
}



.cart-empty {
    padding: 20px;
    text-align: center;
}

#pay__btn {
    a {
        text-decoration: none;
        color: #6c757d;
    }

    &:hover a {
        color: white;
    }


}

// ESTILOS PAGE PAGO

#main__paymentform{
    padding: 30px;
}
#main__factura {
    background: white;
    color: #6c757d;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10%;
    margin-top: 5%;

    .cartproduct__firstrow {
        font-weight: 700;
        font-size: 22px;
        margin-left: 10px;
    }

    .cart__list--Factura {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        gap: 20px;

        h3 {
            font-size: 20px;
            font-weight: 700;
        }
    }
}


#main__form {
    background: white;
    color: #6c757d;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 5%;
    margin-bottom: 5%;
    padding: 20px;
}

#main__pay {
    background: white;
    color: #6c757d;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 5%;
    margin-top: 5%;
    padding: 20px;
    padding-top: 10px;
}

.main__buttons {
    display: flex;
    justify-content: end;
}

.main__buttons--cliente {
    display: flex;
    justify-content: end;
    margin-top: 3%;
}

#btn-add-cart--form {
    a {
        text-decoration: none;
        color: #6c757d;
    }

    &:hover a {
        color: white;
    }


}

// check csss import
.wrapper {
    height: 50px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #6c757d;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}

.checkmark {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #6c757d;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 1px 4px  #6c757d;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0
    }
}

@keyframes scale {

    0%,
    100% {
        transform: none
    }

    50% {
        transform: scale3d(1.1, 1.1, 1)
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px  inherit;
    }
}