/* TARJETAS */

.content__title {
    display: block;
    margin-left: 80px;
    margin-top: 15px;
    font-size: 45px;
    color: $color-primary;
    text-shadow: 0px 0px 2px $color-secundary;
}

.main__content {

    @include dflex(center, 7%, 0%, 0%, 0%);

    .content__card {
        @include cardcontent(205px, 305px);

        &:last-child {
            margin-right: 0px;
        }

        &:hover {
            background: $color-primary;
        }

        .text--icon {
            @include cardicon(0px auto);
        }

        &:hover .text--icon {
            color: white;
            animation: showIcon 300ms linear;
        }

        .card__category {
            @include cardcategory(21px);
        }

        &:hover .card__category {
            color: white;
            animation: showCategory 400ms linear;
        }

        .card__description {
            @include carddescription(15px);
        }

        &:hover .card__description {
            color: white;
            animation: showDescription 400ms linear;
        }

    }
}

.main__content--index {
    @include dflex(center, 7%, 0%, 0%, 0%);

    .content__card {
        @include cardcontent(405px, 505px);

        a {
            text-decoration: none;
        }

        &:last-child {
            margin-right: 0px;
        }

        &:hover {
            background: $color-primary;
        }

        .text--icon {
            @include cardicon(0px auto);
        }

        &:hover .text--icon {
            color: white;
            animation: showIcon 300ms linear;
        }

        .card__category {
            @include cardcategory(28px);
        }

        &:hover .card__category {
            color: white;
            animation: showCategory 400ms linear;
        }

        .card__description {
            @include carddescription(21px);
        }

        &:hover .card__description {
            color: white;
            animation: showDescription 400ms linear;
        }
    }
}

.content__card--universidad {
    @include cardcontent(205px, 205px);

    &:last-child {
        margin-right: 0px;
    }

    &:hover {
        background: $color-primary;
    }

    .text--icon {
        @include cardicon(0px auto);
    }

    &:hover .text--icon {
        color: white;
        animation: showIcon 300ms linear;
    }

    .card__category {
        @include cardcategory(21px);
    }

    &:hover .card__category {
        color: white;
        animation: showCategory 400ms linear;
    }

}