/* FOOTER */
.footer {
    width: 100%;
    height: auto;
    background: #333333;
    text-align: center;
    color: white;
    margin-top: 15px;
    overflow: hidden;

    .footer__content {

        @include dflex(center, 0%, 0%, 0%, 0%);

        .footer__content--box {
            min-width: 400px;
            margin-top: 20px;
        }

    }

    .footer__menu {
        margin-left: 10px;

        ul {
            li {
                a {
                    text-decoration: none;
                    cursor: pointer;
                }

                &:hover {
                    font-size: 25px;
                    transition: all 300ms;
                }
            }
        }
    }

    a {
        text-decoration: none;
        color: white;
        cursor: default;
        transition: all 300ms;

    }

    strong {
        font-size: 17px;
    }

    h5 {
        @include dblock(15px);
        background: url(../IMG/pxgray.png);
        height: 50px;
        letter-spacing: 2px;
        font-family: 40px;
        line-height: 55px;
        color: white;
        border-radius: 5px;
        margin-bottom: 15px;
    }

    ul {
        width: 80%;
        text-align: left;
        margin-left: 30px;
        font-size: 20px;

        li {
            margin-top: 10px;
            padding: 5px;
            margin-left: 40px;
            border-bottom: 1px none #ccc;

            a {
                display: block;
                height: 40px;
            }
        }

    }

    iframe {
        width: 70%;
        height: 200px;
        margin-top: 20px;
        border-radius: 5px;
        border: 5px solid white;
        box-shadow: 0px 0px 5px gray;
    }

    .footer__social {

        p {

            @include dinlineblock(12px, 10%);
        }

        a {

            @include dinlineblock(13px, 80%);
            margin-left: 15px;
        }

        .social__instagram {
            margin-top: 50px;
        }

        .social__copy {
            margin-top: 40px;

            p {
                width: 100%;
            }
        }
    }
}