/* ESTILOS GENERALES */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(../IMG/paven.png);
}

.main {
    width: 100%;
    margin: 0px auto;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    min-height: 1100px;
    margin: 0px auto;
}

.text--icon {
    font-family: $font-stack;
    color: $color-primary;
}

.icon {
    font-family: $font-stack;
    color: $color-primary;
}

.clearfix {
    float: none;
    clear: both;
}

#container {
    width: 100%;
}

.red--text {
    color: $color-primary;
}

.red--bg {
    @include colorcard($color-primary);
}

.black--bg {
    @include colorcard($color-secundary);
}
