/* INICIO BARRA LATERAL*/
#main__lateral {
    width: 32%;
    min-height: 600px;
    float: right;
    margin: 1%;
    border: 3px solid grey;
    border-radius: 5px;


    h3 {
        margin-top: 10%;
        margin-left: 3%;
    }

    #lateral__login {
        width: 80%;
        margin: 0 auto;
        margin-top: 5%;
    }

    #lateral__search {
        width: 80%;
        margin: 0 auto;
        margin-top: 10%;
    }
}
